<% provide(:title, "Top") %>
<div class="center jumbotron top-main">
  <h1>スケジュール変更管理システム</h1>
  <a href='/login' class="btn-flat-simple">
    <i class="fa fa-caret-right"></i> ログイン
  </a>
  <a href='/signup' class="btn-gradient-radius">ユーザー登録</a>
  <br>
  <a href="#" class="btn-social-long-twitter">
    <i class="fa fa-twitter"></i> <span>Follow Me</span>
  </a>
</div>