<% provide(:title, "Top") %>
<div class="center jumbotron top-main">
  <h1>スケジュール管理システム</h1>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "ユーザー登録", signup_path, class: "btn btn-lg btn-primary" %>
</div>