<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>時間管理表</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>クラス</td>
      <td>名前：<%= @user.name %></td>
      <td>学籍番号</td>
      <td>出席日数</td>
    </tr>
  </table>
</div>