<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>時間管理表</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>クラス：<%= @user.category_class.present? ? @user.category_class : "未定" %></td>
      <td>名前：<%= @user.name %></td>
      <td>
        <% if @user.teacher? %>
          教員番号：<%= @user.teacher_uid %>
        <% elsif @user.admin? != "true" && @user.teacher? != "true" %>
          学籍番号：<%= @user.student_uid %>
        <% end %>
      </td>
      <td>出席日数</td>
    </tr>
  </table>
</div>