<% provide(:title, "Show Video") %>
<h1>動画詳細</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-3">
    <p>
      <strong>題名:<%= @video.body %></strong>
    </p>
    <p>
      <strong></strong>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
  </div>
</div>

<%= link_to '編集', edit_user_video_path(@video) %> |
<%= link_to '戻る', user_videos_path %>
